* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

a,
h2,
p,
span {
    margin: 0;
    padding: 0;
}

a:focus,
button:focus {
    outline: none;
}

.header {
    padding-top: 57px;
    padding-bottom: 146px;
    background: #EEEFF1;

    .header-block {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: auto;

        .navigation {
            display: flex;
            align-items: center;

            .nav-link {
                position: relative;
                text-decoration: none;
                font-weight: normal;
                font-size: 16px;
                line-height: 26px;
                letter-spacing: 0.1em;
                color: #000000;
                text-transform: uppercase;
            }

            .nav-link:not(:last-child) {
                margin-right: 42px;
            }

            .nav-link::before {
                position: absolute;
                display: block;
                left: 50%;
                bottom: -4px;
                content: '';
                width: 0%;
                height: 1px;
                background: #34547A;
                transition: width .3s ease-in-out;
                -webkit-transform: translateX(-50%);
                -moz-transform: translateX(-50%);
                transform: translateX(-50%);
            }

            .nav-link:hover {
                color: #34547A;
            }

            .nav-link:hover:before {
                width: 80%;
            }
        }
    }

    .header-info {
        display: flex;
        align-items: center;
        width: 1105px;
        margin: auto;
        margin-top: 162px;

        .header-info-image {
            margin-left: 82px;
            margin-right: 116px;
            width: 357px;
            height: 234px;
        }

        .info {
            display: flex;
            flex-direction: column;

            &-title {
                font-weight: 500;
                font-size: 48px;
                line-height: 79px;
                color: #000000;
                margin-bottom: 60px;
            }

            &-text {
                font-size: 16px;
                line-height: 26px;
                color: #727272;
                margin-bottom: 60px;
            }

            &-button {
                width: 225px;
                height: 65px;
                background: #34547A;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 16px;
                line-height: 26px;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                text-decoration: none;
                color: #FFFFFF;
            }
        }
    }
}

.about {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    background-color: #333333;

    .about-block {
        width: 1140px;
        margin: auto;
        display: flex;
        flex-direction: column;

        .about-title {
            font-weight: 500;
            font-size: 32px;
            line-height: 37px;
            color: #fff;
            margin-bottom: 30px;
        }

        .about-info {
            display: flex;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            height: 400px;
            position: relative;
            margin-bottom: 50px;

            .about-description {
                width: 60%;
                font-size: 16px;
                line-height: 26px;
                text-align: justify;
                color: #e8e8e8;
            }

            .avatar {
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                width: auto;
                object-fit: cover;
            }


        }

        .about-skills {
            width: 100%;
            padding-bottom: 80px;

            .cards {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 20px;

                .card {
                    position: relative;
                    width: 250px;
                    background: linear-gradient(0deg, #1b1b1b, #222, #1b1b1b);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 300px;
                    border-radius: 4px;
                    text-align: center;
                    overflow: hidden;
                    transition: 0.5s;

                    &:hover {
                        transform: translateY(-10px);
                        box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
                    }

                    &:before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: -50%;
                        width: 100%;
                        height: 100%;
                        background: rgba(255, 255, 255, 0.03);
                        pointer-events: none;
                        z-index: 1;
                    }
                }
            }

            .percent {
                position: relative;
                width: 150px;
                height: 150px;
                border-radius: 50%;
                box-shadow: inset 0 0 50px #000;
                background: #222222;
                z-index: 1000;

                .number {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;

                    h2 {
                        color: #777;
                        font-weight: 700;
                        font-size: 40px;
                        transition: 0.5s;

                        span {
                            font-size: 24px;
                            color: #777;
                            transition: 0.5s;
                        }
                    }
                }
            }

            .text {
                position: relative;
                margin-top: 20px;
                color: #777777;
                font-weight: 700;
                font-size: 18px;
                letter-spacing: 1px;
                text-transform: uppercase;
                transition: 0.5s;
            }

            .card:hover {
                .number h2 {
                    color: #fff;
                    font-size: 55px;

                    span {
                        color: #fff;
                    }
                }

                .text {
                    color: #fff;
                }
            }



            svg {
                position: relative;
                width: 150px;
                height: 150px;
                z-index: 1000;

                circle {
                    width: 100%;
                    height: 100%;
                    fill: none;
                    stroke: #191919;
                    stroke-width: 10;
                    stroke-linecap: round;
                    transform: translate(5px, 5px);

                }

                circle:nth-child(2) {
                    stroke-dasharray: 440;
                    stroke-dashoffset: 440;
                }
            }

            .card:nth-child(1) {
                svg {
                    circle:nth-child(2) {
                        stroke: #00ff43;
                    }
                }
            }

            .card:nth-child(2) {
                svg {
                    circle:nth-child(2) {
                        stroke: #00a1ff;
                    }
                }
            }

            .card:nth-child(3) {
                svg {
                    circle:nth-child(2) {
                        stroke: #e65b5b;
                    }
                }
            }
        }
    }
}

.works {
    width: 100%;
    padding: 50px 0 160px 0;
    background: #EEEFF1;

    &-block {
        width: 80%;
        margin: auto;

        .works-title {
            font-weight: 500;
            font-size: 36px;
            line-height: 79px;
            color: #000000;
            margin-bottom: 10px;
        }

        .works-cards {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-wrap: wrap;

            .works-card {
                position: relative;
                width: 300px;
                height: 110px;
                background: #ffffff;
                margin: 40px 20px;
                padding: 20px 15px;
                display: flex;
                flex-direction: column;
                transition: 0.3s ease-in-out;
                cursor: pointer;

                .imgBx {
                    position: relative;
                    width: 260px;
                    height: 146px;
                    top: -60px;
                    left: 20px;
                    z-index: 1;
                    box-sizing: border-box;
                    box-shadow: 0 5px 202px rgba(0, 0, 0, 0.2);

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 4px;
                    }
                }

                .content {
                    position: relative;
                    display: flex;
                    min-height: 183px;
                    align-items: center;
                    flex-direction: column;
                    margin-top: -140px;
                    padding: 10px 15px;
                    text-align: center;
                    color: #111111;
                    visibility: hidden;
                    opacity: 0;
                    transition: 0.3s ease-in-out;

                    h2 {
                        font-weight: 500;
                        font-size: 22px;
                        line-height: 37px;
                    }

                    p {
                        font-size: 12px;
                        line-height: 26px;
                        text-align: justify;
                        color: #727272;
                        text-overflow: ellipsis; 
                        white-space: nowrap; 
                        overflow: hidden;
                    }

                    .buttons {
                        margin-top: auto;
                        display: flex;
                        flex-direction: column;

                        a {
                            background: #34547A;
                            width: 200px;
                            height: 50px;
                            font-size: 10px;
                            line-height: 26px;
                            text-align: center;
                            letter-spacing: 0.1em;
                            color: #FFFFFF;
                            text-transform: uppercase;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            text-decoration: none;
                            margin-top: 10px;

                            &:hover {
                                background: #4676ae;
                            }
                        }
                    }
                }
            }

            .works-card:hover,
            .works-card.active {
                height: 300px;
                margin-bottom: -150px;
                
                z-index: 99;
                box-shadow: 0 5px 202px rgba(0, 0, 0, 0.5);

                .content {
                    visibility: visible;
                    opacity: 1;
                    margin-top: -50px;
                    transition-delay: 0.3s;
                }
            }

            .works-card.active {
                z-index: 98;
            }
        }
    }
}

.footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 70px 0;
    background-color: #333333;

    .footer-title {
        font-weight: 500;
        font-size: 32px;
        line-height: 37px;
        color: #fff;
        margin-bottom: 30px;
    }
}

.contact-form {
    width: 550px;
    padding: 40px;
    background: #ffffff;
    margin-bottom: 30px;
    border-radius: 8px;

    h2 {
        font-weight: 500;
        font-size: 26px;
        line-height: 37px;
        margin-bottom: 10px;
    }

    .error-form {
        font-weight: 500;
        font-size: 15px;
        line-height: 17px;
        color: red;
        margin-bottom: 20px;
    }

    .inputBox {
        position: relative;
        width: 100%;
        margin-top: 10px;

        input,
        textarea {
            width: 100%;
            padding: 5px 0;
            font-size: 16px;
            margin: 10px 0;
            border: none;
            border-bottom: 2px solid #333;
            outline: none;
            resize: none;
        }

        span {
            position: absolute;
            left: 0;
            padding: 5px 0;
            font-size: 16px;
            margin: 10px 0;
            pointer-events: none;
            transition: 0.5s;
            color: #666;
        }

        input:focus~span,
        input:valid~span,
        textarea:focus~span,
        textarea:valid~span {
            color: #ea1d1d;
            font-size: 12px;
            transform: translateY(-20px)
        }

        input:valid~span,
        textarea:valid~span {
            color: #26db34;
        }

        input[type="submit"] {
            width: 130px;
            background: #00bcd4;
            color: #fff;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            padding: 10px;
            font-size: 18px;
        }

        input[disabled] {
            background: #878989;
            color: #b8b8b8;
            pointer-events: none;
        }
    }
}

.contact {
    ul {
        position: relative;
        display: flex;
        align-items: center;

        li {
            display: flex;
            align-items: center;
            height: 96px;
            justify-content: center;
            position: relative;
            list-style: none;
            margin: 0 20px;
            cursor: pointer;
            padding-top: 10px;
            padding-bottom: 10px;

            a {
                text-decoration: none;

                .fa {
                    font-size: 6em;
                    color: #ffffff;
                }
            }

            &::before {
                font-family: fontAwesome;
                position: absolute;
                top: 3px;
                left: 0;
                width: 100%;
                font-size: 6em;
                height: 0;
                overflow: hidden;
                transition: 0.5s ease-in-out;
            }

            &:hover:before {
                height: 100%;
            }

            &:nth-child(1):before {
                content: '\f189';
                color: #4a76a8;
                border-bottom: 4px solid #4a76a8;
            }

            &:nth-child(2):before {
                content: '\f16d';
                color: #cc457c;
                border-bottom: 4px solid #cc457c;
            }

            &:nth-child(3):before {
                content: '\f2c6';
                color: #00719c;
                border-bottom: 4px solid #00719c;
            }

            &:hover:before {
                height: 100%;
            }
        }
    }
}

@media (max-width: 1260px) {
    .header .header-block {
        width: 90%;
    }

    .header .header-info {
        width: 90%;
    }

    .about .about-block {
        width: 90%;
    }

    .works-block {
        width: 90%;

        .works-cards {
            justify-content: start;

            .works-card {
                width: 270px;
                margin: 40px 30px;
                margin-left: 0;

                .imgBx {
                    left: 5px;
                }
            }
        }
    }


}

@media (max-width: 769px) {
    .header {
        padding-bottom: 57px;
    }
    .header .header-info {
        margin-top: 60px;
    }

    .header-info svg {
        display: none;
    }

    .header .header-info .info-title {
        font-size: 38px;
        line-height: 69px;
        margin-bottom: 20px;
    }

    .about .about-block .about-info {
        height: auto;
    }

    .about .about-block .about-info .about-description {
        width: 100%;
        margin-bottom: 20px;
    }

    .about .about-block .about-info .avatar {
        position: static;
        width: 500px;
        margin: auto;
        height: auto;
    }

    .about .about-block .about-skills .cards {
        flex-wrap: wrap;
        justify-content: center;
    }

    .about .about-block .about-skills .cards .card {
        margin-right: 20px;
        margin-bottom: 20px;
    }
}

@media (max-width: 568px) {
    .header {
        padding-top: 20px;
    }

    .header-block svg {
        display: none;
    }

    .header .header-block .navigation {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 2% 2.5%;
        box-sizing:border-box;
        background-color: #EEEFF1;
        justify-content: space-between;
        z-index: 99999;
    }

    .header .header-block .navigation .nav-link {
        margin: 0;
        font-size: 10px;
    }

    .header .header-info .info-title {
        font-size: 28px;
        line-height: 49px;
        margin-bottom: 20px;
    }

    .header .header-info .info-text {
        margin-bottom: 20px;
    }

    .header .header-info .info-button {
        width: 180px;
        height: 50px;
        font-size: 14px;
    }

    .about .about-block .about-info .avatar {
        width: 100%;
    }

    .about .about-block .about-skills .cards .card {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .about .about-block .about-skills .cards .card {
        width: 100%;
        height: 400px;
    }

    .works-block .works-cards {
        justify-content: center;
    }

    .works-block .works-cards .works-card {
        margin-right: 0;
    }

    .works-block .works-cards .works-card:hover, .works-block .works-cards .works-card.active {
        margin-bottom: 40px;
    }

    .contact-form {
        width: 90%;
        box-sizing: border-box;
        padding: 20px;
    }

    .contact ul li {
        height: 58px; 
    }

    .contact ul li a .fa {
        font-size: 4em;
        color: #ffffff;
    }

    .contact ul li::before {
        font-size: 4em;
        top: 2px;
    }
}