* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a,
h2,
p,
span {
  margin: 0;
  padding: 0;
}

a:focus,
button:focus {
  outline: none;
}

.header {
  padding-top: 57px;
  padding-bottom: 146px;
  background: #EEEFF1;
}

.header .header-block {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
}

.header .header-block .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-block .navigation .nav-link {
  position: relative;
  text-decoration: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.1em;
  color: #000000;
  text-transform: uppercase;
}

.header .header-block .navigation .nav-link:not(:last-child) {
  margin-right: 42px;
}

.header .header-block .navigation .nav-link::before {
  position: absolute;
  display: block;
  left: 50%;
  bottom: -4px;
  content: '';
  width: 0%;
  height: 1px;
  background: #34547A;
  -webkit-transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.header .header-block .navigation .nav-link:hover {
  color: #34547A;
}

.header .header-block .navigation .nav-link:hover:before {
  width: 80%;
}

.header .header-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1105px;
  margin: auto;
  margin-top: 162px;
}

.header .header-info .header-info-image {
  margin-left: 82px;
  margin-right: 116px;
  width: 357px;
  height: 234px;
}

.header .header-info .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header .header-info .info-title {
  font-weight: 500;
  font-size: 48px;
  line-height: 79px;
  color: #000000;
  margin-bottom: 60px;
}

.header .header-info .info-text {
  font-size: 16px;
  line-height: 26px;
  color: #727272;
  margin-bottom: 60px;
}

.header .header-info .info-button {
  width: 225px;
  height: 65px;
  background: #34547A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
}

.about {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 50px;
  background-color: #333333;
}

.about .about-block {
  width: 1140px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about .about-block .about-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
  color: #fff;
  margin-bottom: 30px;
}

.about .about-block .about-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 400px;
  position: relative;
  margin-bottom: 50px;
}

.about .about-block .about-info .about-description {
  width: 60%;
  font-size: 16px;
  line-height: 26px;
  text-align: justify;
  color: #e8e8e8;
}

.about .about-block .about-info .avatar {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.about .about-block .about-skills {
  width: 100%;
  padding-bottom: 80px;
}

.about .about-block .about-skills .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

.about .about-block .about-skills .cards .card {
  position: relative;
  width: 250px;
  background: -webkit-gradient(linear, left bottom, left top, from(#1b1b1b), color-stop(#222), to(#1b1b1b));
  background: linear-gradient(0deg, #1b1b1b, #222, #1b1b1b);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 300px;
  border-radius: 4px;
  text-align: center;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.about .about-block .about-skills .cards .card:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
          box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
}

.about .about-block .about-skills .cards .card:before {
  content: '';
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.03);
  pointer-events: none;
  z-index: 1;
}

.about .about-block .about-skills .percent {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  -webkit-box-shadow: inset 0 0 50px #000;
          box-shadow: inset 0 0 50px #000;
  background: #222222;
  z-index: 1000;
}

.about .about-block .about-skills .percent .number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
}

.about .about-block .about-skills .percent .number h2 {
  color: #777;
  font-weight: 700;
  font-size: 40px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.about .about-block .about-skills .percent .number h2 span {
  font-size: 24px;
  color: #777;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.about .about-block .about-skills .text {
  position: relative;
  margin-top: 20px;
  color: #777777;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.about .about-block .about-skills .card:hover .number h2 {
  color: #fff;
  font-size: 55px;
}

.about .about-block .about-skills .card:hover .number h2 span {
  color: #fff;
}

.about .about-block .about-skills .card:hover .text {
  color: #fff;
}

.about .about-block .about-skills svg {
  position: relative;
  width: 150px;
  height: 150px;
  z-index: 1000;
}

.about .about-block .about-skills svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: #191919;
  stroke-width: 10;
  stroke-linecap: round;
  -webkit-transform: translate(5px, 5px);
          transform: translate(5px, 5px);
}

.about .about-block .about-skills svg circle:nth-child(2) {
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}

.about .about-block .about-skills .card:nth-child(1) svg circle:nth-child(2) {
  stroke: #00ff43;
}

.about .about-block .about-skills .card:nth-child(2) svg circle:nth-child(2) {
  stroke: #00a1ff;
}

.about .about-block .about-skills .card:nth-child(3) svg circle:nth-child(2) {
  stroke: #e65b5b;
}

.works {
  width: 100%;
  padding: 50px 0 160px 0;
  background: #EEEFF1;
}

.works-block {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.works-block .works-title {
  font-weight: 500;
  font-size: 36px;
  color: #000000;
}

.works-block .filter-work {
  padding: 0;
  font-size: 36px;
  border: none;
  background: transparent;
  outline: none;
  text-align: right;
}

.works-block .works-cards {
  margin-top: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.works-block .works-cards .works-card {
  position: relative;
  width: 300px;
  height: 110px;
  background: #ffffff;
  margin: 40px 10px;
  padding: 20px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.works-block .works-cards .works-card .imgBx {
  position: relative;
  width: 260px;
  height: 146px;
  top: -60px;
  left: 20px;
  z-index: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 5px 202px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 202px rgba(0, 0, 0, 0.2);
}

.works-block .works-cards .works-card .imgBx img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
}

.works-block .works-cards .works-card .content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 183px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: -140px;
  padding: 10px 15px;
  text-align: center;
  color: #111111;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.works-block .works-cards .works-card .content h2 {
  font-weight: 500;
  font-size: 22px;
  line-height: 37px;
}

.works-block .works-cards .works-card .content p {
  font-size: 12px;
  line-height: 26px;
  text-align: justify;
  color: #727272;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.works-block .works-cards .works-card .content .buttons {
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.works-block .works-cards .works-card .content .buttons a {
  background: #34547A;
  width: 200px;
  height: 50px;
  font-size: 10px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  margin-top: 10px;
}

.works-block .works-cards .works-card .content .buttons a:hover {
  background: #4676ae;
}

.works-block .works-cards .works-card:hover,
.works-block .works-cards .works-card.active {
  height: 300px;
  margin-bottom: -150px;
  z-index: 99;
  -webkit-box-shadow: 0 5px 202px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 202px rgba(0, 0, 0, 0.5);
}

.works-block .works-cards .works-card:hover .content,
.works-block .works-cards .works-card.active .content {
  visibility: visible;
  opacity: 1;
  margin-top: -50px;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.works-block .works-cards .works-card.active {
  z-index: 98;
}

.footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 70px 0;
  background-color: #333333;
}

.footer .footer-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
  color: #fff;
  margin-bottom: 30px;
}

.contact-form {
  width: 550px;
  padding: 40px;
  background: #ffffff;
  margin-bottom: 30px;
  border-radius: 8px;
}

.contact-form h2 {
  font-weight: 500;
  font-size: 26px;
  line-height: 37px;
  margin-bottom: 10px;
}

.contact-form .error-form {
  font-weight: 500;
  font-size: 15px;
  line-height: 17px;
  color: red;
  margin-bottom: 20px;
}

.contact-form .inputBox {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contact-form .inputBox input,
.contact-form .inputBox textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}

.contact-form .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #666;
}

.contact-form .inputBox input:focus ~ span,
.contact-form .inputBox input:valid ~ span,
.contact-form .inputBox textarea:focus ~ span,
.contact-form .inputBox textarea:valid ~ span {
  color: #ea1d1d;
  font-size: 12px;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.contact-form .inputBox input:valid ~ span,
.contact-form .inputBox textarea:valid ~ span {
  color: #26db34;
}

.contact-form .inputBox input[type="submit"] {
  width: 130px;
  background: #00bcd4;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}

.contact-form .inputBox input[disabled] {
  background: #878989;
  color: #b8b8b8;
  pointer-events: none;
}

.contact ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 96px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  list-style: none;
  margin: 0 20px;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
}

.contact ul li a {
  text-decoration: none;
}

.contact ul li a .fa {
  font-size: 6em;
  color: #ffffff;
}

.contact ul li::before {
  font-family: fontAwesome;
  position: absolute;
  top: 3px;
  left: 0;
  width: 100%;
  font-size: 6em;
  height: 0;
  overflow: hidden;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.contact ul li:hover:before {
  height: 100%;
}

.contact ul li:nth-child(1):before {
  content: '\f189';
  color: #4a76a8;
  border-bottom: 4px solid #4a76a8;
}

.contact ul li:nth-child(2):before {
  content: '\f16d';
  color: #cc457c;
  border-bottom: 4px solid #cc457c;
}

.contact ul li:nth-child(3):before {
  content: '\f2c6';
  color: #00719c;
  border-bottom: 4px solid #00719c;
}

.contact ul li:hover:before {
  height: 100%;
}

@media (max-width: 1260px) {
  .header .header-block {
    width: 90%;
  }
  .header .header-info {
    width: 90%;
  }
  .about .about-block {
    width: 90%;
  }
  .works-block {
    width: 90%;
  }
  .works-block .works-cards {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .works-block .works-cards .works-card {
    width: 270px;
    margin: 40px 30px;
    margin-left: 0;
  }
  .works-block .works-cards .works-card .imgBx {
    left: 5px;
  }
}

@media (max-width: 769px) {
  .header {
    padding-bottom: 57px;
  }
  .header .header-info {
    margin-top: 60px;
  }
  .header-info svg {
    display: none;
  }
  .header .header-info .info-title {
    font-size: 38px;
    line-height: 69px;
    margin-bottom: 20px;
  }
  .about .about-block .about-info {
    height: auto;
  }
  .about .about-block .about-info .about-description {
    width: 100%;
    margin-bottom: 20px;
  }
  .about .about-block .about-info .avatar {
    position: static;
    width: 500px;
    margin: auto;
    height: auto;
  }
  .about .about-block .about-skills .cards {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about .about-block .about-skills .cards .card {
    margin-right: 20px;
    margin-bottom: 20px;
  }
}

@media (max-width: 568px) {
  .header {
    padding-top: 20px;
  }
  .header-block svg {
    display: none;
  }
  .header .header-block .navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2% 2.5%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #EEEFF1;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    z-index: 99999;
  }
  .header .header-block .navigation .nav-link {
    margin: 0;
    font-size: 10px;
  }
  .header .header-info .info-title {
    font-size: 28px;
    line-height: 49px;
    margin-bottom: 20px;
  }
  .header .header-info .info-text {
    margin-bottom: 20px;
  }
  .header .header-info .info-button {
    width: 180px;
    height: 50px;
    font-size: 14px;
  }
  .about .about-block .about-info .avatar {
    width: 100%;
  }
  .about .about-block .about-skills .cards .card {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .about .about-block .about-skills .cards .card {
    width: 100%;
    height: 400px;
  }
  .works-block .works-cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .works-block .works-cards .works-card {
    margin-right: 0;
  }
  .works-block .works-cards .works-card:hover, .works-block .works-cards .works-card.active {
    margin-bottom: 40px;
  }
  .contact-form {
    width: 90%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 20px;
  }
  .contact ul li {
    height: 58px;
  }
  .contact ul li a .fa {
    font-size: 4em;
    color: #ffffff;
  }
  .contact ul li::before {
    font-size: 4em;
    top: 2px;
  }
}
/*# sourceMappingURL=style.css.map */